html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  background-color: #222;
  color: #ccc;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;

  text-shadow:
    0 0  7px  rgba(255, 255, 255, 0.8),
    0 0 12px  rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar {
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(20, 20, 20, .5);
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.7);
}

button {
  background-color: #ccc;
  color: #222;
  border: 1px solid #111;
  border-radius: 4px;
  padding: 0;

  text-shadow:
    0 0 10px #222;
  box-shadow:
    inset 0px 0px 4px 1px #222,
    0px 0px 5px 0px rgba(200, 200, 200, .4);
}

button {
  flex-grow: 1;
  height: 26px;
  font-size: 15px ! important;
  background-color: #ccc;
  color: #222;
  border: 1px solid #111;
  border-radius: 4px;
  margin: 2px 5px;
  padding: 0;
  text-shadow:
    0 0 10px #222;
  box-shadow:
    inset 0px 0px 4px 1px #222,
    0px 0px 5px 0px rgba(200, 200, 200, .4);
}

button:hover {
  background-color: #ddd;
  border: 1px solid #151515;
  color: #333;
  text-shadow:
    0 0 10px #333;
  box-shadow:
    inset 0px 0px 4px 1px #333,
    0px 0px 5px 0px rgba(200, 200, 200, .4);
}
button:focus {
  outline: none;
}

/* This is the main container for the game */
.game {
  position: absolute;
  width: 320px;
  height: 240px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/******************************************************************************
 * Welcome Screen
 ******************************************************************************/

.welcome {
  text-align: center;
}

button.main-menu-button {
  width: 200px;
  height: 40px;
  font-size: 17px ! important;
}

/******************************************************************************
 * Common styles for various game screens
 ******************************************************************************/

.top-button-bar {
  width: 100%;
  height: 20px;
  display: flex;
}

.top-button {
  flex-grow: 1;
  height: 26px;
  font-size: 15px ! important;
  margin: 2px 5px;
}

/******************************************************************************
 * Level Selection Screen
 ******************************************************************************/

.levelSelection {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.levelSelection .description {
  font-size: smaller;
}

.levelSelection .title {
  font-weight: bold;
}

.btn-select-level {
  width: 40px;
  height: 20px;
  margin-right: 20px;
}

/******************************************************************************
 * Program Design View
 ******************************************************************************/

/* includes the top button bar div */
div.program-view {
  height: 100%;
}

/* this is below the top button bar div */
div.container {
  width: 100%;
  height: calc(100% - 30px);
}

table.program {
  margin: 0 auto;
  margin-top: 10px;

  font: 100% sans-serif;
  border-collapse: collapse;
  empty-cells: show;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

table.program td {
  text-align: center;
  padding: .3em;
  border: 1px solid #555;
  width: 35px;
  height: 30px;
}

table.program td.symbol-blue {
  box-shadow:
    inset 0px 0px 8px 7px rgba(0, 0, 0, 0.5),
    0px 0px 7px 3px rgba(0, 0, 200, 0.3);
}
table.program td.symbol-blue:hover {
  box-shadow:
    inset 0px 0px 8px 7px rgba(0, 0, 0, 0.4),
    0px 0px 10px 4px rgba(0, 0, 200, 0.5);
}
table.program td.symbol-red {
  box-shadow:
    inset 0px 0px 8px 7px rgba(0, 0, 0, 0.5),
    0px 0px 7px 3px rgba(200, 0, 0, 0.3);
}
table.program td.symbol-red:hover {
  box-shadow:
    inset 0px 0px 8px 7px rgba(0, 0, 0, 0.4),
    0px 0px 10px 4px rgba(200, 0, 0, 0.5);
}

table.program td.spacer {
  border: none;
  padding: 0;
  width: 5px;
  height: 5px;
}

/******************************************************************************
 * Turing Machine View
 ******************************************************************************/

/* includes the top button div */
div.machine-view {
  height: 100%;
}

div.machine-view div.container {
  overflow: hidden;
}

.cpu, .cpu * {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(20px);
}

.head {
  position: absolute;
  top: calc(50% + 15px);
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: 58px;
  height: 62px;
  border: 2px solid red;
  z-index: 2;
}

/*
 * This div clips the visible area of the tape so when we create new
 * cells at the edges they are not immediately visible.
 */
.tape-viewport {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: calc(6 * 58px);
  height: 56px;

  overflow: hidden;
  border-left: 1px solid black;
  border-right: 1px solid black;
  box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 1);
}

.tape {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: calc(9 * 58px);
  height: 48px;
}

.cell-blue {
  box-shadow:
    1px 1px 3px 0 rgba(0, 0, 0, 0.2),
    0px 0px 4px 2px rgba(0, 0, 200, 0.3),
    inset 0px 0px 9px 7px rgba(0, 0, 0, 0.7);
}
.cell-red {
  box-shadow:
    1px 1px 3px 0 rgba(0, 0, 0, 0.2),
    0px 0px 4px 2px rgba(200, 0, 0, 0.3),
    inset 0px 0px 9px 7px rgba(0, 0, 0, 0.7);
}
